[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=PuzzleMaster
Icon=/usr/share/icons/puzzle-master-sailfish.png
Exec=/usr/bin/puzzle-master
Categories=Game;LogicGame;
X-Osso-Type=application/x-executable
