[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Puzzle Master
Icon=harbour-puzzle-master
Exec=harbour-puzzle-master
Categories=Game;LogicGame;
X-Nemo-Application-Type=silica-qt5
X-Osso-Type=application/x-executable
