[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Puzzle Master
Icon=puzzle-master
Exec=puzzle-master
Categories=Qt;Game;LogicGame;
X-Osso-Type=application/x-executable
